.header {
  padding-left: 10px;
  padding-left: 10px;
}

header {
  font-family: 'PixelOperatorMonoHBRegular'; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
}

.logo {
  margin-right: 10px;
}

.sneakers {
  width: 2em;
}

.description {
  font-family: 'IndustrialRegular'; 
  text-align: center;
}

.description > span {
  font-weight: 900;
  font-weight: bolder;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  margin:0 auto ;
  border: 2px solid #000;
  background-color: rgb(31, 30, 30);
}

input {
  padding: 12px 15px;
  border:none;
  /* margin: 8px 0; */
}

input::placeholder {
  font-family: 'IndustrialRegular'; 
}

button {
  font-family: 'IndustrialRegular'; 
  color: white;
  background-color: black;
  outline: none;
  border: none;
  cursor: pointer;
  height: 48px;
  width: 120px;
}

.span {
  font-size: small;
  font-family: 'IndustrialRegular';
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: rgb(15, 15, 23);
}

.content1 {
  background-color:brown
}

@media screen and (max-width:480px) {
  .description {
    padding-left: 10px;
    padding-right: 10px;
}

.span {
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
}
